<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BradJasper.focus</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Focus</string>
	</dict>
	<key>QReader.MarginStudy.easy</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>MarginNote 4</string>
	</dict>
	<key>app.mindmac.macos</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>MindMac</string>
		<key>license</key>
		<string>Ke'd by InjectX-Team</string>
	</dict>
	<key>app.mp3tag.Mp3tag</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>1.8.27</string>
		<key>bundleVersion</key>
		<string>113</string>
		<key>injectFile</key>
		<string>Mp3tag</string>
	</dict>
	<key>cn.better365.iBar</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>iBar</string>
	</dict>
	<key>cn.better365.ishot</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>iShot</string>
	</dict>
	<key>co.podzim.BoltGPT</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>1.27.2</string>
		<key>bundleVersion</key>
		<string>123</string>
		<key>injectFile</key>
		<string>BoltAI</string>
	</dict>
	<key>com.3bitlab.AntiSleep</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Sleep Control Center</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.apple.FinalCutTrial</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Final Cut Pro Trial</string>
	</dict>
	<key>com.araeliumgroup.querious</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Querious</string>
	</dict>
	<key>com.artdesktop.tickboard</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Tikey</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.binarynights.ForkLift</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>command</key>
		<array>
			<string>defaults write com.binarynights.ForkLift registrationData -data "7b227175616e74697479223a3939392c2276616c696469747944617465223a333132343035313230302c227369676e6174757265223a22222c226e616d65223a226875616e6740676d61696c2e636f6d222c226c6963656e73655f74797065223a332c226c6963656e73654b6579223a22424e464c303330312d42544352343137352d35353433323535302d3432363432313232227d"</string>
		</array>
		<key>fixHelper</key>
		<string>true</string>
		<key>helperPath</key>
		<string>/Contents/Library/LaunchServices/com.binarynights.ForkLiftHelper</string>
		<key>injectFile</key>
		<string>ForkLift</string>
	</dict>
	<key>com.bohemiancoding.sketch3.appstore</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Sketch</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.brother.pdfreaderprofree.mac</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>command</key>
		<array>
			<string>defaults write com.brother.pdfreaderprofree.mac PDFToOfficeProduct.isSubscribed -bool true</string>
			<string>defaults write com.brother.pdfreaderprofree.mac allAccessProduct.isSubscribed -bool true</string>
		</array>
		<key>injectFile</key>
		<string>PDF Reader Pro</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.chitaner.Longshot</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Longshot</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.chitaner.Picview</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Picview</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.crystalidea.macsfancontrol</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>fixHelper</key>
		<string>true</string>
		<key>helperPath</key>
		<string>/Contents/Library/LaunchServices/com.crystalidea.macsfancontrol.smcwrite</string>
		<key>injectFile</key>
		<string>Macs Fan Control</string>
		<key>injectHelper</key>
		<string>false</string>
	</dict>
	<key>com.culturedcode.ThingsMac</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Things3</string>
	</dict>
	<key>com.drbuho.BuhoCleaner</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>fixHelper</key>
		<string>true</string>
		<key>helperPath</key>
		<string>/Contents/Library/LaunchServices/com.drbuho.BuhoCleaner.PrivilegedHelperTool</string>
		<key>injectFile</key>
		<string>BuhoCleaner</string>
		<key>injectHelper</key>
		<string>true</string>
	</dict>
	<key>com.eusoft.eudic</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Eudic</string>
	</dict>
	<key>com.firecore.infuse</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Infuse</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.hankinsoft.osx.sqlprostudio</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>SQLPro Studio</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.heweather.weatherapp</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>3.5.16</string>
		<key>bundleVersion</key>
		<string>2024081201</string>
		<key>injectFile</key>
		<string>QWeather</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.houdah.HoudahSpot4</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>HoudahSpot</string>
	</dict>
	<key>com.kimen.aptvpro</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>1.3.6</string>
		<key>bundleVersion</key>
		<string>36</string>
		<key>injectFile</key>
		<string>APTV</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.leshko.flap.mac</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Flacbox</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.luoxiao.TextScan</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>1.7.8</string>
		<key>bundleVersion</key>
		<string>20241010</string>
		<key>injectFile</key>
		<string>Text Scanner</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.mac.utility.media.hub</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>command</key>
		<array>
			<string>defaults write com.mac.utility.media.hub IsOneTimePayment -bool true</string>
			<string>defaults write com.mac.utility.media.hub purchasedPurductIdentifiers -array "store.vidhub.vip.lifetime"</string>
		</array>
		<key>injectFile</key>
		<string>MediaCenter</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.mac.utility.video.player.PotPlayerX</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>command</key>
		<array>
			<string>defaults write com.mac.utility.video.player.PotPlayerX isOneTimePaidApp -bool true</string>
			<string>defaults write com.mac.utility.video.player.PotPlayerX consumablesTranslationCount -integer 99999999</string>
		</array>
		<key>injectFile</key>
		<string>PotPlayerX</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.modelmakertools.simplemindmacstd</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>SimpleMind</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.omi.utility.video.converter</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>VideoConverterX</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.onenicetech.OneWall</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>OneWall</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.onmyway133.PastePal</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>PastePal</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.panic.transmit.mas</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Transmit</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.sublimetext.4</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>sublime_text</string>
		<key>license</key>
		<string>----- BEGIN LICENSE -----
InjectX-Team
Unlimited User License
EA7E-8888888
88888888888888888888888888888888
88888888888888888888888888888888
88888888888888888888888888888888
88888888888888888888888888888888
88888888888888888888888888888888
88888888888888888888888888888888
88888888888888888888888888888888
88888888888888888888888888888888
------ END LICENSE ------</string>
	</dict>
	<key>com.ulyssesapp.mac</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>UlyssesMac</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.wiheads.paste</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Paste</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>com.yuanjoy.anydrop</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>AnyDrop</string>
		<key>license</key>
		<string>Ke'd by InjectX-Team</string>
	</dict>
	<key>com.zeroonetwenty.BlueHarvest5</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>BlueHarvest</string>
	</dict>
	<key>com.zzd.Xnip</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Xnip</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>design.yugen.Flow</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Flow</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>li.zihua.medis2</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Medis</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>net.shinyfrog.bear</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>Bear</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>org.filezilla-project.filezilla.sandbox</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>3.68.1</string>
		<key>bundleVersion</key>
		<string>3.68.1</string>
		<key>injectFile</key>
		<string>filezilla</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>studio.fireball.OneSwitch</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>One Switch</string>
		<key>license</key>
		<string>Ke'd by InjectX-Team</string>
	</dict>
	<key>tech.baye.servercat</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>1.12</string>
		<key>bundleVersion</key>
		<string>407</string>
		<key>injectFile</key>
		<string>ServerCat</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
	<key>tech.miidii.MDClock</key>
	<dict>
		<key>arch</key>
		<array>
			<string>arm64</string>
			<string>x86_64</string>
		</array>
		<key>bundleShortVersion</key>
		<string>ALL</string>
		<key>bundleVersion</key>
		<string>ALL</string>
		<key>injectFile</key>
		<string>MDClock</string>
		<key>source</key>
		<string>MAS</string>
	</dict>
</dict>
</plist>
